<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
  <title>Books</title>
  <style media="screen">
    .container {
      display: flex;
    }

    .card {
      margin: 10px;
      text-align: center;
      flex: 1;
      border: 1px solid black;
    }
  </style>
</head>

<body>
<p>
  <a href="/books">
    <button type="button" name="home">Home</button>
  </a>
</p>

  <h1> <%= book.title %> </h1>
  <h3> <%= book.author %> </h3>
  <p>
    <%= book.description %>
  </p>
  <img src="<%= book.imgURL %>" alt="book image">


  <div class="container">
    <% for(var i = 0; i < comment.length; i++) {  %>
      <div class="card">
        <p>
          <%= comment[i].name %>
        </p>
        <p>
          <%= comment[i].content %>
        </p>
        <h6><a class="delete-comment" href="/del/comment/<%= comment[i].id %>">Delete Comment</a></h6>
      </div>
      <% } %>
  </div>


  <form action="/discussBook/<%= book.id %>" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="content" placeholder="Comment">
    <input type="submit" value="Add">
  </form>




</body>

</html>
